{% load static %}
<div class="single-sidebar-widget popular-post-widget">
    <h4 class="popular-title">lasted Posts</h4>
    <div class="popular-post-list">
        {% for i in posts %}
        <div class="single-post-list d-flex flex-row align-items-center">
            <div class="thumb">
                <img class="img-fluid" src="{{i.image.url}}" alt="">
            </div>
            <div class="details">
                <a href="{% url 'blog:single' pid=i.id %}"><h6>{{i.title}}</h6></a>
                <p>{{i.published_date|date:'d/m/y'}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




