<div class="single-sidebar-widget post-category-widget">
    <h4 class="category-title">Post Catgories</h4>
    <ul class="cat-list">
        {% for name,count in categories.items %}
        <li>
            {% for cat in post.category.all %}
            <a href="{% url 'blog:category' cate_name=cat.name %}" class="d-flex justify-content-between">
            {% endfor %}
                <p>{{name}}</p>
                <p>{{count}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>	